.header{
    width: 100%;
    /* height: 1200px; */
        background-color: #fffef9;
        background-image: url(../img/illustrations/illustration-header.png),linear-gradient(to top,#ffffff 0%, #fff9df 100%);
        padding-top: 92px;
        padding-bottom: 410px;
        background-repeat: no-repeat;
        background-position: center bottom,top left;
        /* background-size: 100% auto; */
        position: relative;

}
.logo-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 23px;
}

.promises-counter-icon{
margin-bottom: 8px;
}

.promises-counter-numbers{
        font-size: 20px;
        font-family: "Poppins";
        color: rgb(13, 62, 96);
        line-height: 0.96;
        margin-bottom: 4px;
}
.promises-counter-description{
        font-size: 16px;
        font-weight: 300;
        color: rgb(13, 62, 96);
        line-height: 1.2; 
  } 
   .header-content{
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          max-width: 650px;
  }
  .header-content-icon-mail{
          margin-bottom: 30px;
  }
  .header-invite{
                font-size: 20px;
                font-weight: 300;
                color: rgb(235, 82, 56);
                line-height: 1;
                margin-bottom: 21px;     
  }
  .header-title{
                font-size: 38px;
                font-weight: 700;
                color: rgb(13, 62, 96);
                font-weight: bold;
                line-height: 1;
                margin-bottom: 36px;
  }

  .header-names{
          display: block;
          /* width: 800px;
          height: 400px;   */
          /* border:5px solid green; */
          margin-left: auto;
          margin-right: auto;
           display: flex;
         justify-content: center; 
         margin-bottom: 60px;
  }
  .header-names-left{
          text-align: right;
  }
  .header-names-right{
          text-align: left;
  }
  /* .header-names * {
          /* border: 3px solid black; */
  } */
    .header-names-name {
                font-size: 22px;
                color: rgb(235, 82, 56);
                font-weight: bold;
                line-height: 1.818;
  }      
  .header-names-email{
                font-size: 16px;
                color: rgb(13, 62, 96);
                font-weight: 700;
                line-height: 40px; 
  }
  .header-names-button{
         width: 92px;
         height: 92px;
         border-radius: 50%;
         background-color: rgb(237, 84, 58);
         background-image: url("../img/icons/icon-heart.svg");
         background-repeat: no-repeat;
         background-position: center;
         position: relative;
         margin-left: 37px;
         margin-right: 37px;

}
.header-names-button::after{
        content: "+";
        display: block;
                border-radius: 50%;
                background-color: rgb(255, 204, 54);
                width: 37px;
                height: 37px;   
                position: absolute;   
                bottom: 15px;
                left: 50%;
                transform: translate(-50%,100%);       
        font-size: 30px;
        color: rgb(255, 255, 255);
        line-height: 37px;
        text-align: center;
} 
.scroll-description{
                font-size: 16px;
                font-weight: 300;
                color: rgb(13, 62, 96);
                line-height: 24px;
                margin-bottom: 16px;
                text-align: center;
              
}
.scroll-bg{
     max-width: 750px;
     height: 122px;
     background-color: #fff9df;
     position: relative;
      padding: 0 50px; /*Добавили padding ,чтобы в случае добавление текста в этом блоке,верстка не поехала и хватило место дл боьшей информаци
 */
      margin: 0 auto;
      display: flex;
      align-items: center;
}
.scroll-bg::before{
        content: "";
        background-image: url("../img/header/left_scroll.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 73px;
        height: 174px;
         position: absolute;
         display: block;
         left: -23px; 
         top: -28px;
       
}
.scroll-bg::after{
        content: "";
        background-image: url("../img/header/right_scroll.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 73px;
        height: 174px;
         position: absolute;
         display: block;
         right: -23px;
         top: -28px; 
        
}
.scroll-title{
        text-align: center;
        padding: 48px;
        font-size: 18px;
        font-weight: 500;
        color: rgb(141, 139, 128);
        line-height: 24px;
               
}
.link-circle{
        
        display: block;
        height: 81px;
        width: 81px;
        border-radius: 50%;
        background-color: rgba(235, 82, 56 ,.2 );     
        position: absolute; 
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%);

}
.link-circle-inner{
        position: absolute;
        left: 13px;
        top: 13px;
          border-radius: 50%;  
          background-color: rgb(235, 82, 56);
          width: 55px;
          height: 55px;
                z-index: 2;
                background-image: url("../img/icons/arrow-down.svg");
                background-repeat: no-repeat;
                background-position: center;
}